
.main {
    width: 300px;
    margin: auto;
    font-family: sans-serif;
    text-align: left;
   }
   
.box {
    box-shadow: 1px 1px 5px 5px rgb(243, 243, 240);
    border: 2px solid rgb(234, 234, 233);
    border-radius: 30px;
    text-align: left;
    margin-top: 20px;
    padding: 20px 30px;
    background-color: white;
    color: #565684;
    width: 250px;
}

.freeplantext {
    color:#27285C;
    font-weight: bold;
}

.dollartext {
    color:#27285C;
    font-weight: bold;
    font-size:25px;
}


.cont {
    color:#27285C;
    font-weight: bold;
}


button {
    background-color: #1a1a37;
    color: white;
    font-size: 16px;
    margin: center;
    text-align: center;
    border-radius: 50px;
    width: 250px;
    height: 40px;
    padding-bottom: 10px;
}

.rightIcon {
   float:left;
   padding-right: 20px;
}

  .freeconnector {
   display: flex;
   Margin-top:10px;
}

.freeconnector > div {
   color: #565684;
   border-bottom: 1px solid rgb(220, 216, 216);
   height: 50px;
   padding-left: 8px;
   padding-top: 8px;
   padding-right: 8px;
   padding-bottom: 25px;  
}

.freeconnectorlast {
   display: flex;
   Margin-top:10px;
}

.freeconnectorlast > div {
   border-bottom: 0px solid;
   color: #565684;
   height: 50px;
   padding: 8px;
   text-align: left;
}
